In [13]:
%matplotlib inline
import pandas as pd

In [17]:
%%time
df = pd.read_csv('data/fixed.csv')

MemoryError:

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
frameNum       1048575 non-null int64
x              1048575 non-null int64
y              1048575 non-null int64
objectNum      1048575 non-null int64
size           1048575 non-null int64
sequenceNum    1048575 non-null int64
TBD            1048575 non-null int64
TBD.1          1048575 non-null int64
TBD.2          1048575 non-null int64
filename       1048575 non-null object
start          1048575 non-null object
path time      1048575 non-null object
delta time     1048575 non-null object
TBD.3          1048575 non-null float64
dtypes: float64(1), int64(9), object(4)
memory usage: 262.9 MB

In [7]:
df.describe()

,frameNum,x,y,objectNum,size,sequenceNum,TBD,TBD.1,TBD.2,TBD.3
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1048575.0,1048575.0,1.048575e+06,1.048575e+06
mean,8.354285e+03,2.887956e+02,1.467844e+02,6.861842e+01,3.104560e+07,1.184532e+02,0.0,0.0,9.016027e+00,4.406261e-01
std,5.029591e+03,1.716975e+02,8.175287e+01,1.286454e+02,3.708473e+07,1.594474e+02,0.0,0.0,1.634102e+01,3.015071e-01
min,0.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,3.620000e+02,0.000000e+00,0.0,0.0,1.000000e+00,0.000000e+00
25%,3.883000e+03,1.520000e+02,9.200000e+01,1.000000e+01,3.620000e+02,1.600000e+01,0.0,0.0,2.000000e+00,9.513889e-02
50%,8.567000e+03,2.840000e+02,1.330000e+02,2.400000e+01,8.523904e+06,5.900000e+01,0.0,0.0,3.000000e+00,4.736111e-01
75%,1.247700e+04,4.180000e+02,2.040000e+02,4.900000e+01,5.132823e+07,1.610000e+02,0.0,0.0,8.000000e+00,6.743056e-01
max,1.836500e+04,6.370000e+02,3.570000e+02,6.430000e+02,1.167755e+08,1.977000e+03,0.0,0.0,1.150000e+02,9.993056e-01

In [8]:
%%time
df = pd.read_csv('data/fixed.csv', usecols= ['frameNum', 'x', 'y', 'objectNum', 'size','sequenceNum','filename','start','path time', 'delta time'])

Wall time: 6.6 s

In [9]:
df.head()

,frameNum,x,y,objectNum,size,sequenceNum,filename,start,path time,delta time
0,0,14,329,0,362,0,14-16\20170817012709_100.h264.txt,2017-08-1701:27:09,01:27:09,00:00:00
1,0,4,291,1,362,0,14-16\20170817012709_100.h264.txt,2017-08-1701:27:09,01:27:09,00:00:00
2,0,629,7,2,362,0,14-16\20170817012709_100.h264.txt,2017-08-1701:27:09,01:27:09,00:00:00
3,0,253,4,3,362,0,14-16\20170817012709_100.h264.txt,2017-08-1701:27:09,01:27:09,00:00:00
4,0,185,4,4,362,0,14-16\20170817012709_100.h264.txt,2017-08-1701:27:09,01:27:09,00:00:00

In [10]:
df.size

10485750

In [12]:
len(df)

1048575